/**************************************************************************************************
 * Hellwigs
 * ------------------------------------------------------------------------------------------------
 * Author: Mario Hofer, knsqnt interactive, email@knsqnt.com, www.knsqnt.com
 * ------------------------------------------------------------------------------------------------
 * Special thanks to Dennis Hellwig (https://www.xing.com/profile/Dennis_Hellwig).
 * ------------------------------------------------------------------------------------------------
 * https://github.com/knsqnt/Hellwigs_MicroFramework
 **************************************************************************************************/

/* ------------------------------------------------------------------------------------------------
 * GRIDSYSTEM
 * ------------------------------------------------------------------------------------------------
 * uo = unit offset, us = unit size
 * ------------------------------------------------------------------------------------------------
 */

.units {
    padding: 20px 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    *zoom: 1;
}

.units:before,
.units:after {
    display: table;
    content: "";
    line-height: 0;
}

.units:after {
    clear: both;
}

.unit {
    display: block;
    float: left;
    padding: 0 10px 20px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------- */

.uo1of1 { margin-left: 100%; }

.uo1of2 { margin-left: 50%; }

.uo1of3 { margin-left: 33.333333333%; }
.uo2of3 { margin-left: 66.666666667%; }

.uo1of4 { margin-left: 25%; }
.uo2of4 { margin-left: 50%; }
.uo3of4 { margin-left: 75%; }

.uo1of5 { margin-left: 20%; }
.uo2of5 { margin-left: 40%; }
.uo3of5 { margin-left: 60%; }
.uo4of5 { margin-left: 80%; }

.uo1of6 { margin-left: 16.666666667%; }
.uo2of6 { margin-left: 33.333333333%; }
.uo3of6 { margin-left: 50%; }
.uo4of6 { margin-left: 66.666666667%; }
.uo5of6 { margin-left: 83.333333333%; }

.uo1of8 { margin-left: 12.5%; }
.uo2of8 { margin-left: 25%; }
.uo3of8 { margin-left: 37.5%; }
.uo4of8 { margin-left: 50%; }
.uo5of8 { margin-left: 62.5%; }
.uo6of8 { margin-left: 75; }
.uo7of8 { margin-left: 87.5%; }

/* ---------------------------------------------------------------------------------------------- */

.us1of1 { float: none; }

.us1of2 { width: 50%; }

.us1of3 { width: 33.333333333%; }
.us2of3 { width: 66.666666667%; }

.us1of4 { width: 25%; }
.us2of4 { width: 50%; }
.us3of4 { width: 75%; }

.us1of5 { width: 20%; }
.us2of5 { width: 40%; }
.us3of5 { width: 60%; }
.us4of5 { width: 80%; }

.us1of6 { width: 16.666666667%; }
.us2of6 { width: 33.333333333%; }
.us3of6 { width: 50%; }
.us4of6 { width: 66.666666667%; }
.us5of6 { width: 83.333333333%; }

.us1of8 { width: 12.5%; }
.us2of8 { width: 25%; }
.us3of8 { width: 37.5%; }
.us4of8 { width: 50%; }
.us5of8 { width: 62.5%; }
.us6of8 { width: 75%; }
.us7of8 { width: 87.5%; }

/* ---------------------------------------------------------------------------------------------- */

@media screen and (max-width: 759px) {

.unit {
    float: none !important;
    margin-left: 0 !important;
    width: 100% !important;
}

}

/* ------------------------------------------------------------------------------------------------
 * SPACING
 * ------------------------------------------------------------------------------------------------
 * m = margin, p = padding
 * a = all, h = horizontal, v = vertical, t = top, r = right, b = bottom, l = left
 * n = none, s = small, m = medium, l = large, h = huge
 * ------------------------------------------------------------------------------------------------
 */

/* ---------------------------------------------------------------------------------------------- */

.mtn, .mvn, .man { margin-top:    0 !important; }
.mrn, .mhn, .man { margin-right:  0 !important; }
.mbn, .mvn, .man { margin-bottom: 0 !important; }
.mln, .mhn, .man { margin-left:   0 !important; }

/* ---------------------------------------------------------------------------------------------- */

.mts, .mvs, .mas { margin-top:     5px !important; }
.mbs, .mhs, .mas { margin-bottom:  5px !important; }
.mls, .mvs, .mas { margin-left:    5px !important; }
.mrs, .mhs, .mas { margin-right:   5px !important; }

.mtm, .mvm, .mam { margin-top:    10px !important; }
.mrm, .mhm, .mam { margin-right:  10px !important; }
.mbm, .mvm, .mam { margin-bottom: 10px !important; }
.mlm, .mhm, .mam { margin-left:   10px !important; }

.mtl, .mvl, .mal { margin-top:    20px !important; }
.mrl, .mhl, .mal { margin-right:  20px !important; }
.mbl, .mvl, .mal { margin-bottom: 20px !important; }
.mll, .mhl, .mal { margin-left:   20px !important; }

.mth, .mvh, .mah { margin-top:    40px !important; }
.mrh, .mhh, .mah { margin-right:  40px !important; }
.mbh, .mvh, .mah { margin-bottom: 40px !important; }
.mlh, .mhh, .mah { margin-left:   40px !important; }

/* ---------------------------------------------------------------------------------------------- */

.-mts, .-mvs, .-mas { margin-top:     -5px !important; }
.-mbs, .-mhs, .-mas { margin-bottom:  -5px !important; }
.-mls, .-mvs, .-mas { margin-left:    -5px !important; }
.-mrs, .-mhs, .-mas { margin-right:   -5px !important; }

.-mtm, .-mvm, .-mam { margin-top:    -10px !important; }
.-mrm, .-mhm, .-mam { margin-right:  -10px !important; }
.-mbm, .-mvm, .-mam { margin-bottom: -10px !important; }
.-mlm, .-mhm, .-mam { margin-left:   -10px !important; }

.-mtl, .-mvl, .-mal { margin-top:    -20px !important; }
.-mrl, .-mhl, .-mal { margin-right:  -20px !important; }
.-mbl, .-mvl, .-mal { margin-bottom: -20px !important; }
.-mll, .-mhl, .-mal { margin-left:   -20px !important; }

.-mth, .-mvh, .-mah { margin-top:    -40px !important; }
.-mrh, .-mhh, .-mah { margin-right:  -40px !important; }
.-mbh, .-mvh, .-mah { margin-bottom: -40px !important; }
.-mlh, .-mhh, .-mah { margin-left:   -40px !important; }

/* ---------------------------------------------------------------------------------------------- */

.ptn, .pvn, .pan { padding-top:    0 !important; }
.prn, .phn, .pan { padding-right:  0 !important; }
.pbn, .pvn, .pan { padding-bottom: 0 !important; }
.pln, .phn, .pan { padding-left:   0 !important; }

/* ---------------------------------------------------------------------------------------------- */

.pts, .pvs, .pas { padding-top:     5px !important; }
.prs, .phs, .pas { padding-right:   5px !important; }
.pbs, .pvs, .pas { padding-bottom:  5px !important; }
.pls, .phs, .pas { padding-left:    5px !important; }

.ptm, .pvm, .pam { padding-top:    10px !important; }
.prm, .phm, .pam { padding-right:  10px !important; }
.pbm, .pvm, .pam { padding-bottom: 10px !important; }
.plm, .phm, .pam { padding-left:   10px !important; }

.ptl, .pvl, .pal { padding-top:    20px !important; }
.prl, .phl, .pal { padding-right:  20px !important; }
.pbl, .pvl, .pal { padding-bottom: 20px !important; }
.pll, .phl, .pal { padding-left:   20px !important; }

.pth, .pvh, .pah { padding-top:    40px !important; }
.prh, .phh, .pah { padding-right:  40px !important; }
.pbh, .pvh, .pah { padding-bottom: 40px !important; }
.plh, .phh, .pah { padding-left:   40px !important; }

/* ---------------------------------------------------------------------------------------------- */
