/**************************************************************************************************
 * HELLWIGS
 * ------------------------------------------------------------------------------------------------
 * No restrictions. Use as you want.
 * ------------------------------------------------------------------------------------------------
 * Author: Mario Hofer, knsqnt interactive, email@knsqnt.com, www.knsqnt.com
 * Special thanks to Dennis Hellwig (https://www.xing.com/profile/Dennis_Hellwig)
 **************************************************************************************************/

/* ------------------------------------------------------------------------------------------------
 * MIXINS
 * ------------------------------------------------------------------------------------------------
 */

.border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
} // .border-box

/* ---------------------------------------------------------------------------------------------- */

.clearfix {
    *zoom: 1;
    
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    } // &:before, &:after
    
    &:after {
        clear: both;
    } // &:after
    
} // .clearfix, .cf

/* ------------------------------------------------------------------------------------------------
 * GRIDSYSTEM
 * ------------------------------------------------------------------------------------------------
 * uo = unit offset, us = unit size
 * ------------------------------------------------------------------------------------------------
 */

.units {
    padding: 20px 10px;
    .border-box();
    .clearfix();
} // .units

.unit {
    display: block;
    float: left;
    padding: 0 10px 20px 10px;
    width: 100%;
    .border-box();
} // .unit

/* ---------------------------------------------------------------------------------------------- */

.uo1of1 { margin-left: 100%; }
.uo1of2 { margin-left: 50%; }
.uo1of3 { margin-left: 33.333333333%; }
.uo2of3 { margin-left: 66.666666667%; }
.uo1of4 { margin-left: 25%; }
.uo2of4 { margin-left: 50%; }
.uo3of4 { margin-left: 75%; }
.uo1of5 { margin-left: 20%; }
.uo2of5 { margin-left: 40%; }
.uo3of5 { margin-left: 60%; }
.uo4of5 { margin-left: 80%; }
.uo1of6 { margin-left: 16.666666667%; }
.uo2of6 { margin-left: 33.333333333%; }
.uo3of6 { margin-left: 50%; }
.uo4of6 { margin-left: 66.666666667%; }
.uo5of6 { margin-left: 83.333333333%; }
.uo1of8 { margin-left: 12.5%; }
.uo2of8 { margin-left: 25%; }
.uo3of8 { margin-left: 37.5%; }
.uo4of8 { margin-left: 50%; }
.uo5of8 { margin-left: 62.5%; }
.uo6of8 { margin-left: 75; }
.uo7of8 { margin-left: 87.5%; }

/* ---------------------------------------------------------------------------------------------- */

.us1of1 { float: none; }
.us1of2 { width: 50%; }
.us1of3 { width: 33.333333333%; }
.us2of3 { width: 66.666666667%; }
.us1of4 { width: 25%; }
.us2of4 { width: 50%; }
.us3of4 { width: 75%; }
.us1of5 { width: 20%; }
.us2of5 { width: 40%; }
.us3of5 { width: 60%; }
.us4of5 { width: 80%; }
.us1of6 { width: 16.666666667%; }
.us2of6 { width: 33.333333333%; }
.us3of6 { width: 50%; }
.us4of6 { width: 66.666666667%; }
.us5of6 { width: 83.333333333%; }
.us1of8 { width: 12.5%; }
.us2of8 { width: 25%; }
.us3of8 { width: 37.5%; }
.us4of8 { width: 50%; }
.us5of8 { width: 62.5%; }
.us6of8 { width: 75%; }
.us7of8 { width: 87.5%; }

/* ---------------------------------------------------------------------------------------------- */

@media screen and (max-width: 759px) {

.unit {
    float: none !important;
    margin-left: 0 !important;
    width: 100% !important;
} // .unit

} // @media screen and (max-width: 759px)

/* ------------------------------------------------------------------------------------------------
 * SPACING
 * ------------------------------------------------------------------------------------------------
 * m = margin, p = padding
 * a = all, h = horizontal, v = vertical, t = top, r = right, b = bottom, l = left
 * n = none, s = small, m = medium, l = large, h = huge
 * ------------------------------------------------------------------------------------------------
 */

@none:    0px;
@small:   5px;
@medium: 10px;
@large:  20px;
@huge:   30px;

/* ---------------------------------------------------------------------------------------------- */

.mtn, .mvn, .man { margin-top:    @none; }
.mrn, .mhn, .man { margin-right:  @none; }
.mbn, .mvn, .man { margin-bottom: @none; }
.mln, .mhn, .man { margin-left:   @none; }

/* ---------------------------------------------------------------------------------------------- */

.mts, .mvs, .mas { margin-top:    @small; }
.mbs, .mhs, .mas { margin-bottom: @small; }
.mls, .mvs, .mas { margin-left:   @small; }
.mrs, .mhs, .mas { margin-right:  @small; }

.mtm, .mvm, .mam { margin-top:    @medium; }
.mrm, .mhm, .mam { margin-right:  @medium; }
.mbm, .mvm, .mam { margin-bottom: @medium; }
.mlm, .mhm, .mam { margin-left:   @medium; }

.mtl, .mvl, .mal { margin-top:    @large; }
.mrl, .mhl, .mal { margin-right:  @large; }
.mbl, .mvl, .mal { margin-bottom: @large; }
.mll, .mhl, .mal { margin-left:   @large; }

.mth, .mvh, .mah { margin-top:    @huge; }
.mrh, .mhh, .mah { margin-right:  @huge; }
.mbh, .mvh, .mah { margin-bottom: @huge; }
.mlh, .mhh, .mah { margin-left:   @huge; }

/* ---------------------------------------------------------------------------------------------- */

.-mts, .-mvs, .-mas { margin-top:    -@small; }
.-mbs, .-mhs, .-mas { margin-bottom: -@small; }
.-mls, .-mvs, .-mas { margin-left:   -@small; }
.-mrs, .-mhs, .-mas { margin-right:  -@small; }

.-mtm, .-mvm, .-mam { margin-top:    -@medium; }
.-mrm, .-mhm, .-mam { margin-right:  -@medium; }
.-mbm, .-mvm, .-mam { margin-bottom: -@medium; }
.-mlm, .-mhm, .-mam { margin-left:   -@medium; }

.-mtl, .-mvl, .-mal { margin-top:    -@large; }
.-mrl, .-mhl, .-mal { margin-right:  -@large; }
.-mbl, .-mvl, .-mal { margin-bottom: -@large; }
.-mll, .-mhl, .-mal { margin-left:   -@large; }

.-mth, .-mvh, .-mah { margin-top:    -@huge; }
.-mrh, .-mhh, .-mah { margin-right:  -@huge; }
.-mbh, .-mvh, .-mah { margin-bottom: -@huge; }
.-mlh, .-mhh, .-mah { margin-left:   -@huge; }

/* ---------------------------------------------------------------------------------------------- */

.ptn, .pvn, .pan { padding-top:    @none; }
.prn, .phn, .pan { padding-right:  @none; }
.pbn, .pvn, .pan { padding-bottom: @none; }
.pln, .phn, .pan { padding-left:   @none; }

/* ---------------------------------------------------------------------------------------------- */

.pts, .pvs, .pas { padding-top:    @small; }
.prs, .phs, .pas { padding-right:  @small; }
.pbs, .pvs, .pas { padding-bottom: @small; }
.pls, .phs, .pas { padding-left:   @small; }

.ptm, .pvm, .pam { padding-top:    @medium; }
.prm, .phm, .pam { padding-right:  @medium; }
.pbm, .pvm, .pam { padding-bottom: @medium; }
.plm, .phm, .pam { padding-left:   @medium; }

.ptl, .pvl, .pal { padding-top:    @large; }
.prl, .phl, .pal { padding-right:  @large; }
.pbl, .pvl, .pal { padding-bottom: @large; }
.pll, .phl, .pal { padding-left:   @large; }

.pth, .pvh, .pah { padding-top:    @huge; }
.prh, .phh, .pah { padding-right:  @huge; }
.pbh, .pvh, .pah { padding-bottom: @huge; }
.plh, .phh, .pah { padding-left:   @huge; }

/* ---------------------------------------------------------------------------------------------- */

