/**************************************************************************************************
 * HELLWIGS
 * ------------------------------------------------------------------------------------------------
 * No restrictions. Use as you want.
 * ------------------------------------------------------------------------------------------------
 * Author: Mario Hofer, knsqnt interactive, email@knsqnt.com, www.knsqnt.com
 * Special thanks to Dennis Hellwig (https://www.xing.com/profile/Dennis_Hellwig)
 **************************************************************************************************/

/* ------------------------------------------------------------------------------------------------
 * GRIDSYSTEM
 * ------------------------------------------------------------------------------------------------
 * uo = unit offset, us = unit size
 * ------------------------------------------------------------------------------------------------
 */

.units {
    padding: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    *zoom: 1;
}

.units:before,
.units:after {
    display: table;
    content: "";
    line-height: 0;
}

.units:after {
    clear: both;
}

.unit {
    display: block;
    float: left;
    padding: 0 10px 10px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------- */

.uo1of2 { margin-left: 50%; }
.uo1of3 { margin-left: 33.333333333%; }
.uo2of3 { margin-left: 66.666666667%; }
.uo1of4 { margin-left: 25%; }
.uo3of4 { margin-left: 75%; }
.uo1of5 { margin-left: 20%; }
.uo2of5 { margin-left: 40%; }
.uo3of5 { margin-left: 60%; }
.uo4of5 { margin-left: 80%; }
.uo1of6 { margin-left: 16.666666667%; }
.uo5of6 { margin-left: 83.333333333%; }
.uo1of8 { margin-left: 12.5%; }
.uo3of8 { margin-left: 37.5%; }
.uo5of8 { margin-left: 62.5%; }
.uo7of8 { margin-left: 87.5%; }

/* ---------------------------------------------------------------------------------------------- */

.us1of1 { float: none; }
.us1of2 { width: 50%; }
.us1of3 { width: 33.333333333%; }
.us2of3 { width: 66.666666667%; }
.us1of4 { width: 25%; }
.us3of4 { width: 75%; }
.us1of5 { width: 20%; }
.us2of5 { width: 40%; }
.us3of5 { width: 60%; }
.us4of5 { width: 80%; }
.us1of6 { width: 16.666666667; }
.us5of6 { width: 83.333333333; }
.us1of8 { width: 12.5%; }
.us3of8 { width: 37.5%; }
.us5of8 { width: 62.5%; }
.us7of8 { width: 87.5%; }

/* ---------------------------------------------------------------------------------------------- */

@media screen and (max-width: 759px) {

.unit {
    float: none !important;
    margin-left: 0 !important;
    width: 100% !important;
}

}

/* ------------------------------------------------------------------------------------------------
 * SPACING
 * ------------------------------------------------------------------------------------------------
 * m = margin, p = padding
 * a = all, h = horizontal, v = vertical, t = top, r = right, b = bottom, l = left
 * n = none, s = small, m = medium, l = large, h = huge
 * ------------------------------------------------------------------------------------------------
 */

.man { margin:         0; }
.mhn { margin-right:   0;
       margin-left:    0; }
.mvn { margin-top:     0;
       margin-bottom:  0; }
.mtn { margin-top:     0; }
.mbn { margin-bottom:  0; }
.mrn { margin-right:   0; }
.mbn { margin-bottom:  0; }
.mln { margin-left:    0; }

.mas { margin:         5px; }
.mhs { margin-right:   5px;
       margin-left:    5px; }
.mvs { margin-top:     5px;
       margin-bottom:  5px; }
.mts { margin-top:     5px; }
.mbs { margin-bottom:  5px; }
.mls { margin-left:    5px; }
.mrs { margin-right:   5px; }

.mam { margin:        10px; }
.mhm { margin-right:  10px;
       margin-left:   10px; }
.mvm { margin-top:    10px;
       margin-bottom: 10px; }
.mtm { margin-top:    10px; }
.mrm { margin-right:  10px; }
.mbm { margin-bottom: 10px; }
.mlm { margin-left:   10px; }

.mal { margin:        20px; }
.mhl { margin-right:  20px;
       margin-left:   20px; }
.mvl { margin-top:    20px;
       margin-bottom: 20px; }
.mtl { margin-top:    20px; }
.mrl { margin-right:  20px; }
.mbl { margin-bottom: 20px; }
.mll { margin-left:   20px; }

.mah { margin:        30px; }
.mhh { margin-right:  30px;
       margin-left:   30px; }
.mvh { margin-top:    30px;
       margin-bottom: 30px; }
.mth { margin-top:    30px; }
.mrh { margin-right:  30px; }
.mbh { margin-bottom: 30px; }
.mlh { margin-left:   30px; }

/* ---------------------------------------------------------------------------------------------- */

.pan { padding:         0; }
.phn { padding-right:   0;
       padding-left:    0; }
.pvn { padding-top:     0;
       padding-bottom:  0; }
.ptn { padding-top:     0; }
.prn { padding-right:   0; }
.pbn { padding-bottom:  0; }
.pln { padding-left:    0; }

.pas { padding:         5px; }
.phs { padding-right:   5px;
       padding-left:    5px; }
.pvs { padding-top:     5px;
       padding-bottom:  5px; }
.pts { padding-top:     5px; }
.prs { padding-right:   5px; }
.pbs { padding-bottom:  5px; }
.pls { padding-left:    5px; }

.pam { padding:        10px; }
.phm { padding-right:  10px;
       padding-left:   10px; }
.pvm { padding-top:    10px;
       padding-bottom: 10px; }
.ptm { padding-top:    10px; }
.prm { padding-right:  10px; }
.pbm { padding-bottom: 10px; }
.plm { padding-left:   10px; }

.pal { padding:        20px; }
.phl { padding-right:  20px;
       padding-left:   20px; }
.pvl { padding-top:    20px;
       padding-bottom: 20px; }
.ptl { padding-top:    20px; }
.prl { padding-right:  20px; }
.pbl { padding-bottom: 20px; }
.pll { padding-left:   20px; }

.pah { padding:        30px; }
.phh { padding-right:  30px;
       padding-left:   30px; }
.pvh { padding-top:    30px;
       padding-bottom: 30px; }
.pth { padding-top:    30px; }
.prh { padding-right:  30px; }
.pbh { padding-bottom: 30px; }
.plh { padding-left:   30px; }
